<link rel="stylesheet" href="body.component.css">


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Tenemos estos sevicios para ti</h1>
    <p class="lead">Nuestros expertos en programacion y diseñadores te ayudaran a posicionar tu marca</p>
  </div>
</div>


<!--Aqui empiezan las cards-->

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div class="card" style="width: 18rem;">
  <img src="/assets/img/creacionpagina.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Creacion de página web o tienda</p>
  </div>
</div>


  <div class="card" style="width: 18rem;">
    <img src="/assets/img/arroba.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Correo perzonalizado a tu marca</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/assets/img/redesSociales.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Introducción a redes sociales y marketing</p>
    </div>
  </div>
</div>

<br> <!--Estos saltos de linea son para que las cards no se peguen en el eje de las "y"-->
<br>

<div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="card" style="width: 18rem;">
      <img src="/assets/img/googleMaps.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Lozalizacion en Google Maps</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/img/diseñoLogo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Diseño de logo</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/assets/img/soporte.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text" >Soporte técnico las 24 horas del dia 7 dias a la semana</p>
      </div>
    </div>
</div>

<br>
<br>

<div class="jumbotron">
  <h1 class="display-4">Somos una empresa 100% mexicana</h1>
  <p class="lead">Tenemos la solucion adecuada a tu negocio, con expertos en la materia</p>
  <hr class="my-4">
  <p>Todas tus dudas serán resueltas</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Contactanos</a>
</div>

<div class="contenedor">
  <img src="/assets/img/reunion.png" class="desenfoque">
  <div class="texto-encima">texto encima</div>

</div>

<br>
<br>
