
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div id="fondo"fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="start end">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent m-4">
        <div id="krakend" fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <img src="../../../assets/img/Krakend.png" alt="Krakend">
          </div>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item active mr-5">
                <a class="nav-link" href="#"><p>Inicio</p> <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item mr-5">
                <a class="nav-link" href="#"><p>Contacto</p></a>
              </li>
              <li class="nav-item mr-5">
                <a class="nav-link" href="#"><p>Sobre Nosotros</p></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
  </div>
</div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active" id="item1">
      <div id="uno" fxLayout="column" fxLayoutAlign="center center">
        <h1>Nosotros creamos tu página web</h1>
      </div>

    </div>

    <div class="item" id="item2">
      <div id="dos" fxLayout="column" fxLayoutAlign="center center">
        <h1>Opciones que se ajustan a tu empresa</h1>
      </div>
    </div>

    <div class="item" id="item3">
      <div id="tres" fxLayout="column" fxLayoutAlign="center center">
        <h1>Rapido y seguro</h1>
      </div>
    </div>
  </div>
</div>



